*{
    margin:0;
    padding:0;
}
.pre{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.HeaderOfPage
{
    font-family: "lucida handwriting";
    height:100px;
    color: #018150;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;    
    justify-content:center;
}
#NavOfPage{
    z-index: 10;
    overflow: hidden;
    background-color: #333; 
    display:flex;
    justify-content:center;
    align-items: center;
}
#NavOfPage a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    
}
#NavOfPage a:hover{
    background-color:black;
    transition: all 1.5s;
}
.BodyOfPage{
    position: relative;
    height:auto;
    width: 100%; 
    background-color: #ffffff;
}
.MenuOfExercise{
    overflow:scroll;
    position: absolute;
    height: 800px;
    width:15%;
    background-color: #E7E9EB;   
}
.ContainerOfPage{
    left: 15%;
    position: absolute;
    height: 800px;
    width: 70%;
    background-color: rgb(255, 255, 255);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.Detail{
    padding-top: 50px;
    text-align: center;
    border-left: 2px rgb(14, 90, 61) solid;
    right: 0;
    position: absolute;
    width: 15%;
    height: 800px;
    background-color: #ffffff;
}
.info{
    position: relative;
    padding-top: 0px;
}
.info a{
    padding:10px;
    font-weight: bold;
    display: block;
    font-size: 22px;
    text-decoration: none;
    color: black;
}
.info a:hover{
    background-color: black;
    color:white;
    transition: all 0.5s;   
}
.MenuOfExercise a{
    width: 100%;
    float: left;
    font-weight: bold;
    font-size: 20px;
    display: block;
    color: #2c2c2c;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
.MenuOfExercise a:hover
{
    transition: all 0.5s;
    color: #ffff;
    background-color: #018150;
}
.cardbox img:hover{
    transition: all 0.5s;
    width:110%;
    height:110%;
    margin-top:-5%;
    margin-left:-5%;
}
    /* width */
    ::-webkit-scrollbar {
    width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background:rgb(99, 99, 99); 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(99, 99, 99); 
    }